[Unit]
Description=BGE Reranker Backend Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/home/root123/anaconda3/envs/DeepSeekR1/bin/python /home/root123/anaconda3/envs/DeepSeekR1/bin/vllm serve /home/root123/bge-reranker-v2-m3/ --served-model-name bge-reranker-v2-m3 --tensor-parallel-size 2 --enforce-eager --gpu_memory_utilization=0.1 --no-enable-chunked-prefill --host 0.0.0.0 --port 9089
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
